body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.section__premier-list .card__cover,
.section__premier-list .card__content {
  margin: 0 10px;
}

.divDisable {
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.2;
  background: #fafafa;
  cursor: not-allowed;
  user-select: none;
}

/* custom select */
.sign__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.sign__row .sign__col {
  width: 100%;
}
.sign__row .sign__label {
  color: #fff;
  margin-bottom: 0.5rem;
}
.sign-custom__select {
  cursor: pointer;
  position: relative;
  height: 46px;
  background-color: #222028;
  border-radius: 6px;
  border: 2px solid transparent;
}

.sign-custom__select.show {
  border-color: #f9ab00;
}

.sign-custom__select .sign__select-icon {
  color: #fff;
  position: absolute;
  top: 12px;
  right: 11px;
}

.sign-custom__select li {
  color: #fff;
  padding: 11px 12px;
  list-style: none;
}
.sign-custom__select ul {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  height: 140px;
  display: none;
  z-index: 5;
  background-color: #222028;
}
.sign-custom__select ul.show {
  display: block;
}
.sign-custom__select ul li {
  transition: all 0.3s ease-in-out;
}
.sign-custom__select ul li:hover {
  color: #f9ab00;
}
.react-datepicker__input-container {
  height: 46px;
}
.react-datepicker__input-container input {
  height: 100%;
  padding-left: 11px;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  background-color: #222028;
  border: 2px solid transparent;
}
.gender__text {
  text-transform: capitalize;
}
.react-datepicker__input-container
  input.react-datepicker-ignore-onclickoutside {
  border-color: #f9ab00;
}
.input-error {
  border-color: rgb(199, 8, 8) !important;
}
.input-required {
  color: rgb(199, 8, 8);
  margin-bottom: 0;
  margin-top: 3px;
  font-size: 13px;
}
.f-22 {
  font-size: 22px !important;
}
.text-white {
  color: #fff;
}
.customer__nav-menu {
  margin-top: 6rem;
}
.text-center {
  text-align: center;
}
.customer__nav-menu ul {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}
.customer__nav-menu ul a {
  display: block;
  margin-right: 1.5rem;
  font-weight: 600;
  color: #fff;
}
.customer__nav-menu ul a:hover,
.customer__nav-menu ul a.active {
  color: #f9ab00;
}
.btn__outline-orange {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 120px;
  border-radius: 6px;
  border: 2px solid #f9ab00;
  margin-left: auto;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}
.info__detail .info__row {
  display: flex;
  align-items: center;
}
.info__detail .info__row .label {
  flex: 0.2;
}
.border__bottom-white {
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}
.edit__customer-profile__wrapper .edit__form {
  flex: 1;
}
.edit__customer-profile__wrapper .react-datepicker__input-container input {
  width: 100%;
}
.edit__customer-profile__wrapper .react-datepicker-wrapper {
  display: block;
}
.unvisible {
  visibility: hidden;
}
.btn__block {
  display: block !important;
  width: 100%;
}
.customer__order-history__wrapper thead th {
  padding: 0 !important;
}
